
body {
  background-color: #111111;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

label {
  display: block;
}

input, select {
  width: 100%;

}